.avatar-container {
  width: 100%;
  height: 100%;
}

.avatar-img-container {
  position: relative;
  width: 142px;
}

.avatar-img-container:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-changer {
  width: 20px;
  height:20px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  transition: opacity 0.2s linear;
}

.avatar-img-container:hover .avatar-changer {
  opacity: 1;
}

@media screen and (max-width: 150px) {
  .avatar-img-container {
    width: 100vw;
  }
  .avatar-changer {
    width: 16vw;
    height:16vw;
  }
}
