html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Montserrat-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(243, 241, 241);
    overflow-y: scroll;
    /*font-family: Montserrat-Medium;*/
    /*font-family: Montserrat-SemiBold;*/
    /*font-family: Consolas;*/
    /*font-family: Poppins-Regular;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
    color: rgb(129, 108, 231);
}

p {
    padding: 0;
    margin: 0;
}

input {
    display: flex;
    margin: 0 auto;
}

.wrapper-input {
    display: flex;
    justify-content: center;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.photos-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr 1fr;
    grid-gap: 50px;
}

.one-photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    max-width: 72vh;
}

.two-photo-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}


.progress-bar {
    height: 5px;
    background-color: darkslateblue;
}

.image-wrapper {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;

    opacity: 0.8;
    box-shadow: 8px 8px 15px 3px rgb(22, 14, 23);
    cursor: pointer;
}


.image-wrapper img {
    /* У некоторых фото изменяются размеры при перезагрузки страницы
    min-width: 100%;*/
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.selectedPhoto-wrapper img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 7% auto;
    box-shadow: 3px 3px 3px rgba(231, 217, 232, 1);
    border: solid 2px rgb(243, 238, 243);
}

.selectedPhoto-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.delete-picture {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.close {
    width: 55px;
    height: 55px;

    border: 4px solid #e62f57;
    border-radius: 50%;
}

/*  THIS IS AUTHORISATION STYLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.auth-wrapper {
    width: 100%;
    margin: 0 auto;
}

.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(components/assets/images/auth-background.jpg);
}

.auth-content {
    width:100%;
    max-width: 750px;
    background: #fff;
    border-radius: 18px;
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:clamp(50px, 8%, 100px);
    padding-left: clamp(50px, 8%, 100px);

}

.auth-form-container {
    width: 100%;
}

.auth-form-title {
    display: block;
    font-family: Montserrat-Medium;
    font-size: 49px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
}

.auth-input-label {
    margin-top: 10px;
    font-family: Montserrat-SemiBold;
    color: #555555;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.auth-input {
    width: 100%;
    height: 42px;
    background-color: #e6f1fa;
    border: 1px solid gainsboro;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
}

.auth-submit-container {
    margin-top: 40px;
    height: 45px;
    width: 100%;
    display: flex;
}

.auth-submit-button {
    width: 100%;

    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;
    border: 1px solid rgba(43, 125, 226, 0.1);
    border-radius: 7px;

    font-family: Poppins-Regular;
    font-size: 28px;
    cursor: pointer;
    transition: box-shadow 0.3s, text-shadow 0.3s;
}

.auth-submit-button:hover {
  box-shadow: 0 4px 8px 0 rgba(31, 69, 112, 1);
  text-shadow: 0 0 1px rgba(120, 120, 158, 0.74);
}

.auth-signUp {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
}

.auth-text-link {
    cursor: pointer;
    border-bottom: 1px solid #999999;
}

.login-button-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.login-button:hover {
  box-shadow: 0 4px 8px 0 rgba(31, 69, 112, 1);
  text-shadow: 0 0 1px rgba(120, 120, 158, 0.74);
}
.login-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    min-height: 45px;
    border-radius: 7px;
    font-family: Poppins-Regular;
    font-size: 25px;
    line-height: 1.5;

    transition: box-shadow 0.3s, text-shadow 0.3s;
}

.auth-github {
    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;

}

.auth-google {
    box-shadow: 0px 4px 8px 0px rgba(43, 125, 226, 0.44);
    background-color: #e6f1fa;
    color: #555555;
}

.GitHubSVG {
    margin-right: 2px;
    width: 40px;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
}

.auth-github:hover {
  box-shadow: 0 4px 8px 0 rgba(31, 69, 112, 1);
  text-shadow: 0 0 1px rgba(31, 69, 112, 1);
}
.auth-github:hover .GitHubSVG {
  filter: drop-shadow( 0px 0px 1px rgba(31, 69, 112, 1));
}

.input-focused {
    box-shadow: 0px 0px 8px 0px rgba(43, 125, 226, 0.44);
    transition-duration: 0.5s;
}
.input-error {
    box-shadow: 0px 0px 8px 0px rgba(229, 42, 102, 0.44);
    transition-duration: 0.5s;
}

.error-text-wrapper,
.form-error-wrapper{
    position: relative;
}
.form-error {
    position: absolute;
    top: 2px;
    width: 100%;
    font-family: Poppins-Regular;
    color: rgba(231, 32, 95, 0.56);
    font-size: 14px;
}

.error-text-message {
    position: absolute;
    top: 2px;
    right: 2px;
    font-family: Poppins-Regular;
    color: rgba(231, 32, 95, 0.56);
    font-size: 17px;
}
.profile-image-loader {
    cursor: pointer;
    width: 142px;
}
.main-image-loader {
    cursor: pointer;
}

@media screen and (max-width: 150px) {
  .profile-image-loader {
    width: 100vw;
  }
}

.common-photo-wrapper {
    margin: 28px 0;
}

input[type="password"]::-ms-reveal {
  display: none;
}
.swiper-container-hidden {
  /*visibility: hidden;*/
  display: none;
}
/*1 swiper-container */
.swiper-container {
  height: 100%;
  /*changed_7*/
  /*width: 100%;*/
  /*max-width: 100%;*/
  /*changed_7*/
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}
.swiper-container > .swiper {
  height: 100%;
}
/*2 swiper-wrapper */
.swiper-wrapper {
  display: flex;
  align-items: center;

  height: 100%;
  max-height: 100% ;
}

/* 3 swiper-slide */
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: transform;
}

/* 4 swiper-test */
.swiper-test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* 5 swiper-img */
.swiper-img {
  max-height: 100%;
  max-width: 100%;
}
.swiper-img-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-thumbs {
  /*width: 100%;*/
  /*при 35% центрирует на активном слайде*/
  /*width: 35%;*/
  height: 100%;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide {
  padding: 10px;
  background-color: #1f4570;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide:first-child {
  border-top-left-radius: 1.1vw;
  border-bottom-left-radius: 1.1vw;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide:last-child {
  border-top-right-radius: 1.1vw;
  border-bottom-right-radius: 1.1vw;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide .swiper-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide .swiper-img {
  border: 0.3vw solid #1f4570;
  border-radius: 1.1vw;
}
.swiper-thumbs > .swiper-wrapper > .swiper-slide .swiper-img:hover {
  border: 0.3vw solid rgba(0, 128, 0, 1);
  background-color: #737373;
}
.swiper-slide-thumb-active .swiper-img {
  border: 0.3vw solid green !important;
}
.test-width {
  display: flex;

  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom:15px;
  /*z-index:50;*/

  overflow: hidden;
  /*TODO: изменить потом на 10%;*/
  height: 20%;
  min-height: 50px;
  width: 90%;
  border-radius: 1.1vw;
}
.test-width-four {
  left: 70%;
}
.test-width-five {
  left: 60%;
}
.test-width-six {
  left: 55%;
}


/* swiper all classes */

:root {
  --swiper-theme-color: #007aff;
}
/*.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  !* Fix of Webkit flickering *!
  z-index: 1;
}*/
/*.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}*/
/*.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}*/
/*.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}*/

/*!* Scrollbar *!
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}*/

/*.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}*/

/*TESTS*/

/*.fixed-bottom {
  position: absolute;
  bottom: 10px;
  width: 100vw;
}

.swiper-thumbs > .swiper-wrapper {
  display: flex;
}
.swiper-slide-thumb-active {
  border: 0.3vw solid green !important;
}*/
